#messageAnchorPane #messageLabel {
    -fx-font-size: 20px;
    -fx-pref-width: 380px;
    -fx-label-padding: 5px 5px 5px 5px;
}

#messageAnchorPane #messageInfo {
    -fx-font-size: 14px;
    -fx-font-family: cursive;
}