#rootPane {
  -fx-border-color: black;
  -fx-background-color: black; }

.button {
  -fx-font-weight: bold;
  -fx-background-color: #03A9F4;
  -fx-text-fill: white;
  -fx-border-radius: 2px; }

.split-pane {
  -fx-background-color: black; }
  .split-pane .split-pane-divider {
    -fx-background-color: black; }

.scroll-bar {
  -fx-background-color: transparent; }
  .scroll-bar .track {
    -fx-background-color: transparent; }
  .scroll-bar .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em; }
  .scroll-bar .decrement-button .decrement-arrow,
  .scroll-bar .decrement-button .increment-arrow,
  .scroll-bar .increment-button .decrement-arrow,
  .scroll-bar .increment-button .increment-arrow {
    -fx-background-color: white;
    -fx-border-color: white; }

.scroll-pane {
  -fx-background-color: #9E9E9E; }
  .scroll-pane > .viewport {
    -fx-background-color: derive(#9E9E9E, 5%); }
  .scroll-pane > .corner {
    -fx-background-color: #9E9E9E; }

.tab-pane {
  -fx-background-color: #E1F5FE; }
  .tab-pane .tab-header-area .headers-region,
  .tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #c8edfd; }
  .tab-pane .tab-header-area .tab {
    -fx-background-color: #9E9E9E; }
    .tab-pane .tab-header-area .tab .tab-label {
      -fx-text-fill: white; }
    .tab-pane .tab-header-area .tab:selected {
      -fx-background-color: #03A9F4; }

.check-box,
.label {
  -fx-text-fill: black; }

.primary-text {
  -fx-text-fill: white; }

.secondary-text {
  -fx-text-fill: #cccccc; }
