.java-series *.chart-area-symbol {
  -fx-background-color: #e9967a, #ffa07a;
}
.java-series *.chart-series-area-line {
  -fx-stroke: #e9967a;
}
.java-series *.chart-series-area-fill {
  -fx-fill: #ffa07a55;
}
.css-series .chart-area-symbol {
  --fx-background-color: #f0e68c, #fffacd;
}
.css-series .chart-series-area-line {
  -fx-stroke: #f0e68c;
}
.css-series .chart-series-area-fill {
  -fx-fill: #fffacd55;
}

.chart-plot-background {
  -fx-background-color: transparent;
}
#anchorPaneScrollLog {
  -fx-background-color: black;
}
#logTab {
  -fx-background-color: antiquewhite;
}
.slider .track {
  -fx-background-color: null;
  /* Hide the track */
  -fx-background-insets: 1 0 -1 0, 0, 1;
  -fx-background-radius: 2.5, 2.5, 1.5;
  -fx-padding: 0.208333em;
  /* 2.5 */
}
.slider .thumb {
  -fx-background-color: darkgrey;
  -fx-background-radius: 6.0em;
  /* makes sure this remains circular */
  -fx-padding: 0.783333em;
  /* 7 */
}
#apStudentSettings {
  -fx-background-color: #575757;
}
#apStudentSettings > .label {
  -fx-text-fill: white;
}
.button {
  -fx-font-weight: bold;
}
#option {
  -fx-background-image: url("../images/cyanWall.jpg");
}
