.button {
    -fx-font-weight: bold;
}

.check-box>.box {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.check-box>.box>.mark {
    -fx-background-image: url("../images/unchecked.png");
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-shape: none;
}

.check-box:selected>.box>.mark{
    -fx-background-color: transparent;
    -fx-background-image: url("../images/checked.png");
}