.button {
    -fx-font-weight: bold;
}

#option {
    -fx-background-image: url("../images/cyanWall.jpg");
}

#anchorPaneScrollLog {
    -fx-background-color: black;
}

#logTab {
    -fx-background-color: antiquewhite;
}